@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 91%);
    border-radius: 100vw;
    margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 71%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 60%);
}

.swal2-popup {
    @apply !tw-rounded-xl
    !tw-px-6
    !tw-pt-6
    !tw-pb-8
    !tw-shadow-sm;
}

.swal2-close {
    @apply !tw-h-[1.1rem]
    !tw-w-[1.1rem]
    focus:!tw-shadow-none;
}

.swal2-icon {
    @apply !tw-scale-[0.92];
}

.swal2-actions {
    @apply !tw-mt-10
    !tw-block
    !tw-w-full
    sm:!tw-flex
    sm:!tw-gap-1;
}

.swal2-actions button {
    @apply !tw-w-full
    !tw-rounded-lg
    !tw-border-2
    !tw-py-2.5
    !tw-text-base
    !tw-font-medium
    !tw-outline-none
    !tw-ring-blue-500
    !tw-ring-offset-2
    focus:!tw-shadow-sm
    sm:!tw-flex-1;
}

.swal2-styled.swal2-confirm {
    @apply !tw-border-blue-500
    !tw-bg-blue-500
    !tw-text-white
    hover:!tw-bg-blue-600;
}

.swal2-styled.swal2-cancel {
    @apply !tw-border-solid
    !tw-border-[#EDEDED]
    !tw-bg-white
    !tw-text-[#6D6D6D];
}
